# Env vars to access Vertex AI
GOOGLE_APPLICATION_CREDENTIALS=<json with private key>
DEFAULT_REGION=us-central1
GCP_PROJECT_ID=<project id>
COMPATIBILITY_MAPPING={} # Maps unsupported VertexAI deployment names to the compatible and supported by the Adapter deployment names

# Misc env vars for the server
LOG_LEVEL=INFO
WEB_CONCURRENCY=1

PYDANTIC_V2=1