[flake8]
# E501 line is too long
# W503 line break before binary operator
# E203 whitespace before ':'
ignore = E501, W503, E203
exclude =
    .venv,
    .nox,
    __pycache__
per-file-ignores =
    # imported but unused
    tests/locust/app.py: F401